In [1]:
import os
import math
import sys
import time
import copy

import cv2

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
"""
- get responsible files for our target time durations (e.g., 7am to 10am)
"""
DATA_COLUMNS_NAME = ['taxiID', 'lat', 'lng', 'alt', 'time', 'azim', 'vel', 'gpstype', 'occ']

DATA_BASEDIR = "/home/gskim/data/CE545 Taxi/data"

TARGET_DATE = "2018-04-02"
TARGET_DURATION = ["070000", "100000"]

taget_date_dir = os.path.join(DATA_BASEDIR, TARGET_DATE)
taget_date_files = os.listdir(taget_date_dir)
taget_date_files.sort()

taget_date_files_in_duration = []
for filename in taget_date_files:
    if TARGET_DURATION[0] < filename[:-4] and filename[:-4] < TARGET_DURATION[1]:
        taget_date_files_in_duration.append(filename)
print(taget_date_files_in_duration)
print("\nThe number of files: ", len(taget_date_files_in_duration))

['070230.DAT', '070500.DAT', '070730.DAT', '071000.DAT', '071230.DAT', '071500.DAT', '071730.DAT', '072000.DAT', '072230.DAT', '072500.DAT', '072730.DAT', '073000.DAT', '073230.DAT', '073500.DAT', '073730.DAT', '074000.DAT', '074230.DAT', '074500.DAT', '074730.DAT', '075000.DAT', '075230.DAT', '075500.DAT', '075730.DAT', '080000.DAT', '080230.DAT', '080500.DAT', '080730.DAT', '081000.DAT', '081230.DAT', '081500.DAT', '081730.DAT', '082000.DAT', '082230.DAT', '082500.DAT', '082730.DAT', '083000.DAT', '083230.DAT', '083500.DAT', '083730.DAT', '084000.DAT', '084230.DAT', '084500.DAT', '084730.DAT', '085000.DAT', '085230.DAT', '085500.DAT', '085730.DAT', '090000.DAT', '090230.DAT', '090500.DAT', '090730.DAT', '091000.DAT', '091230.DAT', '091500.DAT', '091730.DAT', '092000.DAT', '092230.DAT', '092500.DAT', '092730.DAT', '093000.DAT', '093230.DAT', '093500.DAT', '093730.DAT', '094000.DAT', '094230.DAT', '094500.DAT', '094730.DAT', '095000.DAT', '095230.DAT', '095500.DAT', '095730.DAT']

The number of files:  71

In [6]:
def cleaning_df(df):
    return df

In [7]:
"""
- merge all (in that time zone) files 
- make data frame per each car 
"""

dfs = []
for filename in taget_date_files_in_duration:
    # read
    df_path = os.path.join(taget_date_dir, filename)
    df = pd.read_csv(df_path)
    df.columns = DATA_COLUMNS_NAME  

    # clean
    df = cleaning_df(df)

    # add
    dfs.append(df)

# merge and make all-in-one dataframe   
df_all = pd.concat(dfs)

In [4]:
def split_df(df, mode="taxiID"):
    splitted_df = []
    
    return splitted_df


df_all = df_all.sort_values(["taxiID"], ascending=[True])
df_all = df_all.reset_index(drop=True)
df_all = df_all.sort_values(["time"], ascending=[True])
df_all = df_all.reset_index(drop=True)
df_all

,taxiID,lat,lng,alt,time,azim,vel,gpstype,occ
0,180711349,1210000000,240000000,0,20060628205945,0,0,1,1
1,180711349,1210000000,240000000,0,20060628205955,0,0,1,1
2,180711349,1210000000,240000000,26,20060628210005,0,0,1,1
3,180711349,1210000000,240000000,152,20060628210015,271,35,1,1
4,180711349,1210000000,240000000,198,20060628210025,271,69,1,1
5,180708200,1270865200,375412716,322,20090215085946,280,11,1,0
6,180769593,1270947416,375336250,799,20090215085946,213,14,1,1
7,180708200,1271119433,375104033,565,20090215085946,114,18,1,1
8,180769593,1271315433,375360566,574,20090215085946,116,0,1,0
9,180724236,1269198916,375779000,587,20090215085946,115,0,1,0
10,180768103,1269459100,375630700,646,20090215085946,18,8,1,1
11,180768103,1269201000,375139816,347,20090215085946,296,0,1,1
12,180708200,1270866150,375306483,642,20090215085946,148,60,1,1
13,180768103,1269048900,375196666,403,20090215085946,176,28,1,0
14,180769593,1271355666,375376950,1346,20090215085946,198,0,1,1
15,180769593,1271428066,375450100,887,20090215085946,198,26,1,0
16,180769593,1270471600,375247816,739,20090215085946,157,20,1,0
17,180708200,1270830600,375378883,1588,20090215085946,349,29,1,1
18,180769593,1270902366,375506616,546,20090215085946,148,7,1,0
19,180769593,1270347050,375357116,441,20090215085946,187,12,1,1
20,180724236,1269085966,375853849,312,20090215085946,60,24,1,0
21,180769593,1270953616,376061833,719,20090215085946,175,44,1,0
22,180769593,1271051116,375448566,255,20090215085946,284,22,1,1
23,180769593,1271142266,375169716,351,20090215085946,113,37,1,0
24,180768103,1269126083,375203066,292,20090215085946,349,0,1,1
25,180769593,1270933016,375931233,591,20090215085946,174,48,1,1
26,180768103,1269166816,375221916,431,20090215085946,156,23,1,0
27,180768103,1269358100,375110066,554,20090215085946,354,12,1,0
28,180708200,1269629816,375593616,752,20090215085946,271,23,1,1
29,180768103,1269251349,375125716,373,20090215085946,111,0,1,1
...,...,...,...,...,...,...,...,...,...
26430359,180227499,5,5,0,20271230000130,289,1,1,1
26430360,180221745,5,5,0,20271230000140,239,6,1,1
26430361,180402950,5,5,0,20271230000140,103,0,1,1
26430362,180406835,5,5,0,20271230000140,143,43,1,1
26430363,180111706,5,5,0,20271230000140,125,0,1,1
26430364,180411113,5,5,0,20271230000140,210,35,1,1
26430365,180414984,5,5,0,20271230000140,322,14,1,0
26430366,180222375,5,5,0,20271230000140,205,17,1,0
26430367,180405740,5,5,0,20271230000140,150,0,1,0
26430368,180405724,5,5,0,20271230000140,360,0,1,0
26430369,180411113,5,5,0,20271230000150,212,0,1,1
26430370,180222375,5,5,0,20271230000150,200,12,1,0
26430371,180406835,5,5,0,20271230000150,132,14,1,1
26430372,180221745,5,5,0,20271230000150,253,34,1,1
26430373,180414984,5,5,0,20271230000150,322,0,1,0
26430374,180405740,5,5,0,20271230000150,150,0,1,0
26430375,180111706,5,5,0,20271230000150,125,0,1,1
26430376,180405724,5,5,0,20271230000150,360,0,1,0
26430377,180406835,5,5,0,20271230000200,0,0,1,1
26430378,180221745,5,5,0,20271230000200,250,48,1,1
26430379,180405724,5,5,0,20271230000200,360,0,1,0
26430380,180414984,5,5,0,20271230000200,322,5,1,0
26430381,180411113,5,5,0,20271230000200,0,0,1,1
26430382,180405740,5,5,0,20271230000200,150,0,1,0
26430383,180111706,5,5,0,20271230000200,125,0,1,1
26430384,180414984,5,5,0,20271230000210,322,14,1,0
26430385,180221745,5,5,0,20271230000210,248,55,1,1
26430386,180111706,5,5,0,20271230000210,125,0,1,1
26430387,180111706,5,5,0,20271230000220,125,0,1,1
26430388,180111706,5,5,0,20271230000230,117,37,1,1