In [1]:
import os
import math
import sys
import time
import copy

import cv2

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

import seaborn as sns

In [3]:
"""
- get responsible files for our target time durations (e.g., 7am to 10am)
"""
DATA_COLUMNS_NAME = ['taxiID', 'lat', 'lng', 'alt', 'time', 'azim', 'vel', 'gpstype', 'occ']

DATA_BASEDIR = "/home/gskim/data/CE545 Taxi/data"

TARGET_DATE = "2018-04-02"
TARGET_DURATION = ["073000", "093000"]

taget_date_dir = os.path.join(DATA_BASEDIR, TARGET_DATE)
taget_date_files = os.listdir(taget_date_dir)
taget_date_files.sort()

taget_date_files_in_duration = []
for filename in taget_date_files:
    if TARGET_DURATION[0] < filename[:-4] and filename[:-4] < TARGET_DURATION[1]:
        taget_date_files_in_duration.append(filename)
print(taget_date_files_in_duration)
print("\nThe number of files: ", len(taget_date_files_in_duration))

['073230.DAT', '073500.DAT', '073730.DAT', '074000.DAT', '074230.DAT', '074500.DAT', '074730.DAT', '075000.DAT', '075230.DAT', '075500.DAT', '075730.DAT', '080000.DAT', '080230.DAT', '080500.DAT', '080730.DAT', '081000.DAT', '081230.DAT', '081500.DAT', '081730.DAT', '082000.DAT', '082230.DAT', '082500.DAT', '082730.DAT', '083000.DAT', '083230.DAT', '083500.DAT', '083730.DAT', '084000.DAT', '084230.DAT', '084500.DAT', '084730.DAT', '085000.DAT', '085230.DAT', '085500.DAT', '085730.DAT', '090000.DAT', '090230.DAT', '090500.DAT', '090730.DAT', '091000.DAT', '091230.DAT', '091500.DAT', '091730.DAT', '092000.DAT', '092230.DAT', '092500.DAT', '092730.DAT']

The number of files:  47

In [4]:
def cleaning_df(df):
    return df

In [5]:
"""
- merge all (in that time zone) files 
- make data frame per each car 
"""

dfs = []
for filename in taget_date_files_in_duration:
    # read
    df_path = os.path.join(taget_date_dir, filename)
    df = pd.read_csv(df_path)
    df.columns = DATA_COLUMNS_NAME  

    # clean
    df = cleaning_df(df)

    # add
    dfs.append(df)

# merge and make all-in-one dataframe   
df_all = pd.concat(dfs)   

# for memory saving 
del dfs
df_all = df_all.drop("gpstype", axis=1)

In [7]:
"""
To do 
- split df_all into by each {df_car}
- for each df_car:
    - 
"""

# sort by taxi id
df_all = df_all.sort_values(["taxiID"], ascending=[True])
df_all = df_all.reset_index(drop=True)

In [19]:
def split_df(df, mode="taxiID"):
    splitted_df = []
    
    return splitted_df

In [20]:
taxi_grouped = df_all.groupby('taxiID')
taxi_grouped.count()

           lat  lng  alt  time  azim  vel  occ
taxiID
180000525   45   45   45    45    45   45   45
180000826  545  545  545   545   545  545  545
180002092  690  690  690   690   690  690  690
180002578   15   15   15    15    15   15   15
180003216  705  705  705   705   705  705  705
180100817  690  690  690   690   690  690  690
180103394  641  641  641   641   641  641  641
180104894  690  690  690   690   690  690  690
180105156    6    6    6     6     6    6    6
180105334  304  304  304   304   304  304  304
180105720  675  675  675   675   675  675  675
180106437  473  473  473   473   473  473  473
180106932  665  665  665   665   665  665  665
180106955  575  575  575   575   575  575  575
180106961  690  690  690   690   690  690  690
180107104  690  690  690   690   690  690  690
180107721  497  497  497   497   497  497  497
180109496  705  705  705   705   705  705  705
180109650  470  470  470   470   470  470  470
180109673  705  705  705   705   705  705  705
180110743  301  301  301   301   301  301  301
180110780  124  124  124   124   124  124  124
180111612  498  498  498   498   498  498  498
180111675  705  705  705   705   705  705  705
180111706  455  455  455   455   455  455  455
180111878  705  705  705   705   705  705  705
180111942  630  630  630   630   630  630  630
180112462  433  433  433   433   433  433  433
180113693  674  674  674   674   674  674  674
180113701   22   22   22    22    22   22   22
...        ...  ...  ...   ...   ...  ...  ...
180783458  496  496  496   496   496  496  496
180783460  705  705  705   705   705  705  705
180783462  495  495  495   495   495  495  495
180783466  705  705  705   705   705  705  705
180783467  285  285  285   285   285  285  285
180783469  543  543  543   543   543  543  543
180783470  274  274  274   274   274  274  274
180783485  705  705  705   705   705  705  705
180783503  705  705  705   705   705  705  705
180783529  705  705  705   705   705  705  705
180783530  127  127  127   127   127  127  127
180783531  705  705  705   705   705  705  705
180783536  635  635  635   635   635  635  635
180783540  705  705  705   705   705  705  705
180783553  675  675  675   675   675  675  675
180783557  645  645  645   645   645  645  645
180783571   60   60   60    60    60   60   60
180783573  129  129  129   129   129  129  129
180783574   27   27   27    27    27   27   27
180783611  700  700  700   700   700  700  700
180783612  705  705  705   705   705  705  705
180783613  705  705  705   705   705  705  705
180783614  700  700  700   700   700  700  700
180783615  680  680  680   680   680  680  680
180783636  705  705  705   705   705  705  705
180783640  330  330  330   330   330  330  330
180783653  540  540  540   540   540  540  540
180783668  225  225  225   225   225  225  225
180783670  600  600  600   600   600  600  600
180783671  645  645  645   645   645  645  645

[33533 rows x 7 columns]