In [76]:
import os
import math
import sys
import time
import copy

import cv2

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

import seaborn as sns

In [38]:
"""
- get responsible files for our target time durations (e.g., 7am to 10am)
"""
DATA_COLUMNS_NAME = ['taxiID', 'lat', 'lng', 'alt', 'time', 'azim', 'vel', 'gpstype', 'occ']

DATA_BASEDIR = "/home/gskim/data/CE545 Taxi/data"

TARGET_DATE = "2018-04-02"
TARGET_DURATION = ["070000", "100000"]

taget_date_dir = os.path.join(DATA_BASEDIR, TARGET_DATE)
taget_date_files = os.listdir(TARGET_DATE_DIR)
taget_date_files.sort()

taget_date_files_in_duration = []
for filename in taget_date_files:
    if TARGET_DURATION[0] < filename[:-4] and filename[:-4] < TARGET_DURATION[1]:
        taget_date_files_in_duration.append(filename)
print(taget_date_files_in_duration)

['070230.DAT', '070500.DAT', '070730.DAT', '071000.DAT', '071230.DAT', '071500.DAT', '071730.DAT', '072000.DAT', '072230.DAT', '072500.DAT', '072730.DAT', '073000.DAT', '073230.DAT', '073500.DAT', '073730.DAT', '074000.DAT', '074230.DAT', '074500.DAT', '074730.DAT', '075000.DAT', '075230.DAT', '075500.DAT', '075730.DAT', '080000.DAT', '080230.DAT', '080500.DAT', '080730.DAT', '081000.DAT', '081230.DAT', '081500.DAT', '081730.DAT', '082000.DAT', '082230.DAT', '082500.DAT', '082730.DAT', '083000.DAT', '083230.DAT', '083500.DAT', '083730.DAT', '084000.DAT', '084230.DAT', '084500.DAT', '084730.DAT', '085000.DAT', '085230.DAT', '085500.DAT', '085730.DAT', '090000.DAT', '090230.DAT', '090500.DAT', '090730.DAT', '091000.DAT', '091230.DAT', '091500.DAT', '091730.DAT', '092000.DAT', '092230.DAT', '092500.DAT', '092730.DAT', '093000.DAT', '093230.DAT', '093500.DAT', '093730.DAT', '094000.DAT', '094230.DAT', '094500.DAT', '094730.DAT', '095000.DAT', '095230.DAT', '095500.DAT', '095730.DAT']

In [77]:
testfile1_path = os.path.join(taget_date_dir, taget_date_files_in_duration[1])
testfile1 = pd.read_csv(testfile1_path)
testfile1.columns = DATA_COLUMNS_NAME

testfile2_path = os.path.join(taget_date_dir, taget_date_files_in_duration[2])
testfile2 = pd.read_csv(testfile2_path)
testfile2.columns = DATA_COLUMNS_NAME

testfile_all = copy.deepcopy(testfile1)
testfile_all.append(testfile2, ignore_index=True)

testfile_all
testfile_all = testfile_all.sort_values(["taxiID"], ascending=[False])
testfile_all = testfile_all.reset_index(drop=True)

In [78]:
testfile_all

# testfile1

,taxiID,lat,lng,alt,time,azim,vel,gpstype,occ
0,180783636,1270489450,374948830,0,20180402070444,211,0,1,0
1,180783636,1270489450,374948830,0,20180402070544,211,0,1,0
2,180783636,1270489450,374948830,0,20180402070554,211,0,1,0
3,180783636,1270489450,374948830,0,20180402070334,211,0,1,0
4,180783636,1270489450,374948830,0,20180402070344,211,0,1,0
5,180783636,1270489450,374948830,0,20180402070354,211,0,1,0
6,180783636,1270489450,374948830,0,20180402070404,211,0,1,0
7,180783636,1270489450,374948830,0,20180402070414,211,0,1,0
8,180783636,1270489450,374948830,0,20180402070424,211,0,1,0
9,180783636,1270489450,374948830,0,20180402070434,211,0,1,0
10,180783636,1270489450,374948830,0,20180402070514,211,0,1,0
11,180783636,1270489450,374948830,0,20180402070454,211,0,1,0
12,180783636,1270489450,374948830,0,20180402070504,211,0,1,0
13,180783636,1270489450,374948830,0,20180402070534,211,0,1,0
14,180783636,1270489450,374948830,0,20180402070524,211,0,1,0
15,180783615,1269398516,375050700,539,20180402070542,267,29,1,1
16,180783615,1269370383,375051216,419,20180402070622,319,26,1,1
17,180783615,1269388650,375050116,538,20180402070552,237,33,1,1
18,180783615,1269355866,375058833,492,20180402070642,260,25,1,1
19,180783615,1269379516,375047066,490,20180402070602,238,26,1,1
20,180783615,1269375233,375047366,499,20180402070612,274,7,1,1
21,180783615,1269366099,375055166,388,20180402070632,319,16,1,1
22,180783615,1269329450,375061916,556,20180402070712,303,33,1,1
23,180783615,1269346533,375056816,573,20180402070652,253,28,1,1
24,180783615,1269409949,375051099,755,20180402070452,244,28,1,1
25,180783615,1269336949,375057750,567,20180402070702,299,32,1,1
26,180783615,1269405650,375050250,670,20180402070502,257,11,1,1
27,180783615,1269405216,375050566,676,20180402070512,221,0,1,1
28,180783615,1269405216,375050566,676,20180402070522,221,0,1,1
29,180783615,1269405050,375051050,641,20180402070532,221,0,1,1
...,...,...,...,...,...,...,...,...,...
278152,180000826,1271311365,374826985,0,20180402070447,16,33,1,0
278153,180000826,1271313385,374885135,0,20180402070607,47,22,1,0
278154,180000826,1271316385,374835705,0,20180402070457,31,46,1,0
278155,180000826,1271348935,374916815,0,20180402070657,45,44,1,0
278156,180000826,1271339655,374909885,0,20180402070647,44,41,1,0
278157,180000826,1271331285,374902865,0,20180402070637,34,38,1,0
278158,180000826,1271324085,374895165,0,20180402070627,30,35,1,0
278159,180000826,1271318865,374889505,0,20180402070617,44,20,1,0
278160,180000826,1271360155,374926015,0,20180402070707,42,51,1,0
278161,180000826,1271313235,374881655,0,20180402070557,310,20,1,0
278162,180000826,1271318255,374878405,0,20180402070547,317,14,1,0
278163,180000826,1271326685,374873235,0,20180402070537,311,47,1,0
278164,180000826,1271333715,374854415,0,20180402070527,42,37,1,0
278165,180000826,1271333715,374854415,0,20180402070517,42,50,1,0
278166,180000826,1271325405,374847565,0,20180402070507,51,50,1,0
278167,180000525,1267258005,375717665,0,20180402070510,266,119,1,1
278168,180000525,1267532855,375703655,0,20180402070350,267,123,1,1
278169,180000525,1267430565,375719915,0,20180402070420,279,92,1,1
278170,180000525,1267400755,375722815,0,20180402070430,274,98,1,1
278171,180000525,1267367565,375723255,0,20180402070440,268,109,1,1
278172,180000525,1267332065,375721615,0,20180402070450,266,113,1,1
278173,180000525,1267295735,375719615,0,20180402070500,266,116,1,1
278174,180000525,1267145735,375712005,0,20180402070540,266,116,1,1
278175,180000525,1267220135,375715685,0,20180402070520,266,119,1,1
278176,180000525,1267182885,375713765,0,20180402070530,267,116,1,1
278177,180000525,1267495015,375708185,0,20180402070400,283,110,1,1
278178,180000525,1267107955,375710415,0,20180402070550,266,117,1,1
278179,180000525,1267070805,375708605,0,20180402070600,266,116,1,1
278180,180000525,1267034435,375707035,0,20180402070610,267,114,1,1
278181,180000525,1267461465,375714755,0,20180402070410,283,105,1,1